body{
    background: url("../img/background 1.png") 0 0/100% no-repeat;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.clearfix{
    clear: both;
}
.container{
    margin: 0 auto;
    width: 1366px;
    box-sizing: border-box;
}

/*HEADER*/
.header{
    border: 1px solid transparent;
    box-sizing: border-box;
    margin-top: 51px;
    margin-bottom: 17px;
}
.logo-img{
    float: left;
    height: 47px;
    width: 53px;
}
.logo-content{
    display: inline-block;
    margin-left: 9px;
    text-decoration: none;
    text-transform: uppercase;
}
.log-top{
    font-size: 29px;
    line-height: 29px;
    color: #ffffff;
    font-weight: bold;
    margin: 0 auto;
    /*padding-top: 5px;*/
}
.log-bot{
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 2.8px;
    padding-bottom: 5px;
}
.logo:hover{
    content: url('../img/Logo.png');
}
/*.logo-content :hover {*/
/*    color: #f26522;*/
/*}*/
.contacts{
    float: right;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
}
.email{
    display: block;
    text-decoration: none;
    color: #ffffff;
}
.telephone-num{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding-left: 59px;
    padding-top: 19px;
}
.email:hover{
    color: #F26522;
}
.telephone-num:hover{
    color: #F26522;
}

/*CONTENT*/
.content{
    box-sizing: border-box;
}
.content a{
    text-decoration: none;
}
.img-container{
    overflow: hidden;
    width: 300px;
    height: 220px;
}
.img-footer{
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    padding-top: 20px;
    transition: 0.5s;
}
.box{
    display: inline-block;
    text-align: center;
    margin-bottom: 78px;
}
.left{
    float: left;
}
.center{
    margin-left: 233px;
    margin-right: 233px;
}
.right{
    float: right;
}
/*FOOTER*/
.footer{
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.copyright{
    width: 100%;
    margin-top: 48px;
    margin-bottom: 15px;
}
.img-details{
    height: 63px;
    background-color: #f26522;
    position: relative;
    top:0;
    transition: 0.6s;
}
.price{
    font-size: 20px;
    line-height: 20px;
    float:left;
    margin-left: 16px;
    margin-bottom: 12px;
}
.details{
    font-size: 14px;
    line-height: 14px;
    float: right;
    margin-top: 29px;
    margin-bottom: 12px;
    margin-right: 16px;
}
.box:hover .img-details{
    top: -63px;

}
.price:before{
    content: 'from';
    font-size: 10px;
    line-height: 10px;
    display: block;
    text-align: left;
    margin-top: 7px;
    /*margin-left: 16px;*/
    margin-bottom: 8px;
}

.details:after{
    content: '>';
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
}

.box:hover .img-footer{
    color: #f26522;
}
.img-details{
    color: #ffffff;
}
